.inputWrapper {
    label {
        margin-right: 9px;
    }
    input {
        margin-right: 9px;
    }
    button {
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }
        margin-right: 9px;
    }
}

.address {
    font-size: 10px;
}

.balanceRow {
    margin-top: 9px;
}
